---
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
    <nav>
      <a href="{{ "/" | relative_url }}">Home</a>
      <a href="{{ "/about" | relative_url }}">About</a>
      <a href="{{ "/projects" | relative_url }}">Projects</a>
    </nav>
    <hr>
  </header>

  <main>
    {{ content }}
  </main>
</body>
</html>
